<% @home_about = Erp::Articles::Article.get_all_home_abouts.first %>
<% if @home_about.present? %>
<!-- ABOUT US-->
<section class="p-t-0 p-b-55">
    <div class="container">
        <div class="media-about">
            <div class="row">
                <div class="col-lg-7">
                    <div class="media__body">
                        <h2 class="slogan title-1">
                            <span>Simulation</span> <span>Analysis</span> <span>Optimization</span>
                        </h2>
                        <h5 class="slogan title-sub">Energy Efficiency</h5>
                        <div class="media__text">
                            <% if I18n.locale == :vi %>
                                <%= @home_about.content.html_safe %>
                            <% elsif I18n.locale == :en %>
                                <%= @home_about.en_content.html_safe %>
                            <% elsif I18n.locale == :jp %>
                                <%= @home_about.jp_content.html_safe %>
                            <% end %>
                        </div>
                        <% if false %>
                            <a class="au-btn au-btn--arrow" href="#">Xem thêm
                                <i class="zmdi zmdi-arrow-right ic-arrow"></i>
                            </a>
                        <% end %>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="media__img js-line">
                        <% if I18n.locale == :vi %>
                            <%= image_tag(article_image(@home_about.image.thumb_960_960, '960_960'), alt: @home_about.name) %>
                        <% elsif I18n.locale == :en %>
                            <%= image_tag(article_image(@home_about.en_image.thumb_960_960, '960_960'), alt: @home_about.en_name) %>
                        <% elsif I18n.locale == :jp %>
                            <%= image_tag(article_image(@home_about.jp_image.thumb_960_960, '960_960'), alt: @home_about.jp_name) %>
                        <% end %>
                        
                        <% if false %>
                            <span class="line"></span>
                            <span class="line line-bottom"></span>
                            <div class="media__img-inner wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                <span class="number"></span>
                                <span class="desc"><%= t('.media_img_desc') %></span>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT US-->
<% end %>