<!-- BLOG-->
<section class="p-t-65 p-b-65">
    <div class="container">
        <div class="section-title m-b-70">
            <h5 class="title-sub"><%= t('.blog_title_sub') %></h5>
            <h2 class="title-1"><%= t('.blog_title') %></h2>
        </div>
        <div class="row gutter-xl">
            <% @newest_blogs.each_with_index do |blog,index| %>
            <div class="col-md-4">
                <article class="blog">
                    <figure class="entry-image">
                        <% if I18n.locale == :vi %>
                            <%= link_to image_tag(article_image(blog.image.thumb_357_201, '357_201'), alt: blog.name), blog_link(blog) %>
                        <% elsif I18n.locale == :en %>
                            <%= link_to image_tag(article_image(blog.en_image.thumb_357_201, '357_201'), alt: blog.en_name), blog_link(blog) %>
                        <% elsif I18n.locale == :ja %>
                            <%= link_to image_tag(article_image(blog.ja_image.thumb_357_201, '357_201'), alt: blog.ja_name), blog_link(blog) %>
                        <% end %>
                    </figure>
                    <div class="entry-summary">
                        <h4 class="entry-title">
                            <% if I18n.locale == :vi %>
                                <%= link_to blog.name, blog_link(blog) if blog.name.present? %>
                            <% elsif I18n.locale == :en %>
                                <%= link_to blog.en_name, blog_link(blog) if blog.en_name.present? %>
                            <% elsif I18n.locale == :ja %>
                                <%= link_to blog.ja_name, blog_link(blog) if blog.ja_name.present? %>
                            <% end %>
                        </h4>
                        <span class="entry-meta"><%= blog.created_at.strftime("%d-%B-%Y") %></span>
                        <p class="entry-excerpt">
                            <% if I18n.locale == :vi %>
                                <%= short_text(blog.content, 25) + '...' if blog.content.present? %>
                            <% elsif I18n.locale == :en %>
                                <%= short_text(blog.en_content, 25) + '...' if blog.en_content.present? %>
                            <% elsif I18n.locale == :ja %>
                                <%= short_text(blog.ja_content, 25) + '...' if blog.ja_content.present? %>
                            <% end %>
                        </p>
                    </div>
                </article>
            </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END BLOG-->