<% @newest_projects = Erp::Projects::Project.newest_projects(4) %>
<!-- Project -->
<section class="section__project">
    <div class="project__container container">
        <div class="d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-start">
        <h2 class="section__heading">
            <%= t('.project_title') %>
        </h2>
        <h3 class="section__title--2 fw-bold fw-lg-normal text-white text-center text-sm-center text-md-center text-lg-start">
            <%= raw t('.project_title_sub') %>
        </h3>
        </div>
        <div class="project__carousel mt-5">
        <div class="carousel__list slick-light">
            <% @newest_projects.each do |project| %>
                <div class="carousel__item">
                    <div class="carousel__image">
                        <%= image_tag project.image.thumb_960_600, class: "img-fluid object-fit-cover", alt: project.name %>
                    </div>
                    <div class="position-absolute bottom-0 start-0 p-4">
                        <h3 class="carousel__title fs-5 fw-bold text-white">
                            <%= link_to project.name, project_link(project), class: "text-white" %>
                        </h3>
                        <p class="carousel__address text-white fw-medium">
                            <%= project.location %>
                        </p>
                    </div>
                </div>
            <% end %>
        </div>
        </div>
        <a href="<%= erp_saoee.project_path %>"
            class="d-block mt-5 mt-sm-5 mt-md-5 mt-lg-0 pt-5 pt-sm-5 pt-md-5 pt-lg-0">
        <div class="call-action d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start mt-4">
            <span>Xem tất cả</span>
            <div class="icon-32 icon-black-6 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        </a>
    </div>
</section>