<!-- SERVICE-->
<section class="p-t-60 p-b-55">
    <div class="container">
        <div class="section-title">
            <h5 class="title-sub"><%= t('.service_title_sub') %></h5>
            <h2 class="title-1"><%= t('.service_title') %></h2>
        </div>
        <div class="row no-gutters">
            <%
                @services = Erp::Articles::Category.get_categories_by_alias_service
                    .where(parent_id: nil)
                    .order('erp_articles_categories.custom_order ASC')
            %>
            <% @services.each_with_index do |service,index| %>
                <div class="col-md-6 col-lg-4">
                    <article class="media media-service">
                        <% if false %>
                        <figure class="media__img">
                            <img src="/frontend/images/icon/service-01.png" alt="architecture" />
                        </figure>
                        <% end %>
                        <div class="media__title">
                            <%
                                display_service_name = ''
                                display_service_desc = ''
                                if I18n.locale == :vi
                                    display_service_name = service.name
                                    display_service_desc = service.description
                                elsif I18n.locale == :en
                                    display_service_name = service.en_name
                                    display_service_desc = service.en_description
                                elsif I18n.locale == :ja
                                    display_service_name = service.ja_name
                                    display_service_desc = service.ja_description
                                end
                            %>
                            <h3 class="title">
                                <%= link_to display_service_name, service_link(service) %>
                            </h3>
                            <span class="number"><%= format('%02d', index + 1) %></span>
                        </div>
                        <p class="media__text">
                            <%= display_service_desc %>
                        </p>
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END SERVICE-->