<!-- Service -->
  <div class="section__service py-mx">
    <div class="service__container container pb-5 pb-lg-0">
      <div class="row justify-content-center">
        <div class="service__content col-12 col-lg-6 d-flex flex-column justify-content-center gap-4">
          <div class="d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-start">
            <h2 class="section__heading">
              Dịch vụ
            </h2>
            <h3 class="section__title--2 fw-bold fw-lg-normal">
              Các gói dịch vụ Tư vấn dành <br>cho các đối tượng nhất định
            </h3>
          </div>
          <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row mt-4 p-3 p-lg-0">
            <div class="service__card d-flex flex-column gap-2">
              <div class="card__image">
                <img class="img-fluid" src="/frontend/images/service1.png" alt="Dịch vụ 1">
              </div>
              <h4 class="card__title fw-bold fs-6 fs-lg-5">
                Dịch vụ Tư vấn Cải tạo công trình
              </h4>
              <a href="service.html" class="see-more mt-1 mt-lg-4 mb-5 mb-lg-0">Xem thêm</a>
            </div>
            <div class="service__card d-flex flex-column gap-2">
              <div class="card__image">
                <img class="img-fluid" src="/frontend/images/service2.png" alt="Dịch vụ 1">
              </div>
              <h4 class="card__title fw-bold fs-6 fs-lg-5">
                Các Gói Dịch vụ dành cho Văn phòng tư vấn thiết kế
              </h4>
            </div>
          </div>
        </div>
        <div class="image__container col-6">
          <img src="/frontend/images/service.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>



<% if false %>
<!-- PRODUCT -->
<section class="p-t-60 p-b-55">
    <div class="container">
        <div class="section-title">
            <h5 class="title-sub"><%= t('.service_title_sub') %></h5>
            <h2 class="title-1"><%= t('.service_title') %></h2>
        </div>
        <div class="row no-gutters">
            <%
                @services = Erp::Articles::Category.get_categories_by_alias_service
                    .where(parent_id: nil)
                    .order('erp_articles_categories.custom_order ASC')
            %>
            <% @services.each_with_index do |service,index| %>
                <div class="col-md-6 col-lg-4">
                    <article class="media media-service">
                        <% if false %>
                        <figure class="media__img">
                            <img src="/frontend/images/icon/service-01.png" alt="architecture" />
                        </figure>
                        <% end %>
                        <div class="media__title">
                            <%
                                display_service_name = ''
                                display_service_desc = ''
                                if I18n.locale == :vi
                                    display_service_name = service.name
                                    display_service_desc = service.description
                                elsif I18n.locale == :en
                                    display_service_name = service.en_name
                                    display_service_desc = service.en_description
                                elsif I18n.locale == :ja
                                    display_service_name = service.ja_name
                                    display_service_desc = service.ja_description
                                end
                            %>
                            <h3 class="title">
                                <%= link_to display_service_name, service_link(service) %>
                            </h3>
                            <span class="number"><%= format('%02d', index + 1) %></span>
                        </div>
                        <p class="media__text">
                            <%= display_service_desc %>
                        </p>
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END PRODUCT-->
<% end %>