<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2">Tin tức</h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to "Trang chủ", erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= link_to "Tin tức", erp_saoee.blog_path %> <i class="ti-angle-double-right"></i>
                <%= @blog.name %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- BLOG DETAIL-->
<section class="p-t-20 p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <article class="blog-detail-1">
                    <header class="entry-header">
                        <h2 class="entry-title"><%= @blog.name %></h2>
                        <span class="entry-date"><%= relative_time(@blog.created_at) %></span>
                    </header>
                    <div class="entry-content">
                        <%= (image_tag @blog.image.thumb_870_489, alt: @blog.name, class: 'wp-post-image') if @blog.image.thumb_870_489.present? %>
                        <%= @blog.content.html_safe %>
                    </div>
                    <footer class="entry-footer">
                        <div class="entry-tags">
                            <span class="title-6">Từ khóa:</span>
                            <ul class="wp-tag-cloud">
                                <li>
                                    <a href="#">Architecture</a>
                                </li>
                                <li>
                                    <a href="#">Minimalist</a>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-share">
                            <span class="title-6">Chia sẻ:</span>
                            <ul class="list-social list-social--light2">
                                <li class="list-social__item">
                                    <a class="ic-fb" href="#">
                                        <i class="zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-social__item">
                                    <a class="ic-insta" href="#">
                                        <i class="zmdi zmdi-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-social__item">
                                    <a class="ic-twi" href="#">
                                        <i class="zmdi zmdi-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-social__item">
                                    <a class="ic-pinterest" href="#">
                                        <i class="zmdi zmdi-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-social__item">
                                    <a class="ic-google" href="#">
                                        <i class="zmdi zmdi-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                </article>
                <% if false %>
                    <%= render "erp/saoee/frontend/modules/blog/comments_area" %>
                <% end %>
            </div>
            <div class="col-md-4 col-lg-3">
                <%= render "erp/saoee/frontend/modules/blog/sidebar" %>
            </div>
        </div>
    </div>
</section>
<!-- END BLOG DETAIL-->