<%
    display_blog_name = @blog.name
    if @blog.name.present? and @blog.en_name.present? and @blog.ja_name.present?
        if I18n.locale == :vi
            display_blog_name = @blog.name
        elsif I18n.locale == :en
            display_blog_name = @blog.en_name
        elsif I18n.locale == :ja
            display_blog_name = @blog.ja_name
        end
    end
%>

<% title display_blog_name %>
<% full_domain_path = request.env['rack.url_scheme'] + '://' + request.host_with_port %>

<% content_for :metas do %>
    
    <!-- Facebook Open Graph -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= display_blog_name %>"/>
    <% if @meta_description.present? %>
    <meta property="og:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta property="og:description" content="<%= display_blog_name %>"/>
    <% end %>
    <meta property="og:site_name" content="SAO-EE.VN">
    <meta property="og:image" content="<%= full_domain_path %><%= @blog.image %>" />
    <meta property="og:locale" content="<%= (I18n.locale == :vi) ? 'vi_VN' : 'en_US' %>">
    
    <!-- Google+ Open Graph -->
    <meta itemprop="name" content="<%= display_blog_name %>">
    <% if @meta_description.present? %>
    <meta itemprop="description" content="<%= @meta_description %>">
    <% else %>
    <meta itemprop="description" content="<%= display_blog_name %>">
    <% end %>
    <meta itemprop="image" content="<%= full_domain_path %><%= @blog.image %>">
    
    <!-- Twitter Open Graph -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SAOEE">
    <meta name="twitter:title" content="<%= display_blog_name %>">
    <% if @meta_description.present? %>
    <meta name="twitter:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta name="twitter:description" content="<%= display_blog_name %>"/>
    <% end %>
    <meta name="twitter:image" content="<%= full_domain_path %><%= @blog.image %>">
<% end %>

<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2"><%= t('.blog') %></h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to t('home'), erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= link_to t('blog'), erp_saoee.blog_path %> <i class="ti-angle-double-right"></i>
                <%= display_blog_name %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- BLOG DETAIL-->
<section class="p-t-20 p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <article class="blog-detail-1">
                    <header class="entry-header">
                        <h2 class="entry-title"><%= display_blog_name %></h2>
                        <span class="entry-date"><%= relative_time(@blog.created_at) %></span>
                    </header>
                    <div class="entry-content">
                        <% (image_tag @blog.image.thumb_870_489, alt: display_blog_name, class: 'wp-post-image') if @blog.image.thumb_870_489.present? %>
                        <%
                            blog_content = @blog.content
                            if @blog.content.present? and @blog.en_content.present? and @blog.ja_content.present?
                                if I18n.locale == :vi
                                    blog_content = @blog.content
                                elsif I18n.locale == :en
                                    blog_content = @blog.en_content
                                elsif I18n.locale == :ja
                                    blog_content = @blog.ja_content
                                end
                            end
                        %>
                        <%= blog_content.html_safe %>
                    </div>
                    
                    <% if true %>
                        <footer class="entry-footer">
                            <div class="entry-tags">
                                <span class="key"><strong><%= t('.tags') %>:</strong></span>
                                <ul class="wp-tag-cloud">
                                    <% @blog.get_tags.each_with_index do |tag,index| %>
                                        <% if index+1 == @blog.get_tags.count %>
                                            <li><a href="#"><%= tag %></a></li>
                                        <% else %>
                                            <li><a href="#"><%= tag %></a></li>,
                                        <% end %>
                                    <% end %>
                                </ul>
                            </div>
                            
                            <div class="entry-share">
                                <span class="key"><%= t('share') %>:</span>
                                
                                <div id="share-buttons" class="list-social list-social--md">
                                 
                                    <!-- Facebook -->
                                    <a href="http://www.facebook.com/sharer.php?u=<%= request.url %>" target="_blank">
                                        <img src="/frontend/images/icon/socials/facebook.png" alt="Facebook" title="Share a link to this page on Facebook" />
                                    </a>
                                     
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/share?url=<%= request.url %>&amp;text=<%= display_blog_name %>&amp;hashtags=sao_ee" target="_blank">
                                        <img src="/frontend/images/icon/socials/twitter.png" alt="Twitter" title="Share a link to this page on Twitter" />
                                    </a>
                                    
                                    <!-- Google+ -->
                                    <a href="https://plus.google.com/share?url=<%= request.url %>" target="_blank">
                                        <img src="/frontend/images/icon/socials/google.png" alt="Google" title="Share a link to this page on Google Plus" />
                                    </a>
                                    
                                    <!-- LinkedIn -->
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.url %>" target="_blank">
                                        <img src="/frontend/images/icon/socials/linkedin.png" alt="LinkedIn" title="Share a link to this page on LinkedIn" />
                                    </a>
                                    
                                    <!-- Email -->
                                    <a href="mailto:?Subject=<%= display_blog_name %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 <%= request.url %>">
                                        <img src="/frontend/images/icon/socials/email.png" alt="Email" title="Share a link to this page on Email" />
                                    </a>
                                
                                </div>
                            </div>
                        <% end %>
                    </footer>
                </article>
                <% if false %>
                    <%= render "erp/saoee/frontend/modules/blog/comments_area" %>
                <% end %>
            </div>
            <div class="col-md-4 col-lg-3">
                <%= render "erp/saoee/frontend/modules/blog/sidebar" %>
            </div>
        </div>
    </div>
</section>
<!-- END BLOG DETAIL-->