<%
    if I18n.locale == :en
        display_blog_name = @blog.en_name
        display_blog_content = @blog.en_content
    elsif I18n.locale == :ja
        display_blog_name = @blog.ja_name
        display_blog_content = @blog.ja_content
    else
        display_blog_name = @blog.name
        display_blog_content = @blog.content
    end
%>

<% title display_blog_name %>
<% full_domain_path = request.env['rack.url_scheme'] + '://' + request.host_with_port %>

<% content_for :page_style do %>
    <link rel="stylesheet" href="/frontend/css/blog.css" />
<% end %>

<% content_for :metas do %>

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= display_blog_name %>"/>
    <% if @meta_description.present? %>
    <meta property="og:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta property="og:description" content="<%= display_blog_name %>"/>
    <% end %>
    <meta property="og:site_name" content="SAO-EE.VN">
    <meta property="og:image" content="<%= full_domain_path %><%= @blog.image %>" />
    <meta property="og:locale" content="<%= (I18n.locale == :vi) ? 'vi_VN' : 'en_US' %>">

    <!-- Google+ Open Graph -->
    <meta itemprop="name" content="<%= display_blog_name %>">
    <% if @meta_description.present? %>
    <meta itemprop="description" content="<%= @meta_description %>">
    <% else %>
    <meta itemprop="description" content="<%= display_blog_name %>">
    <% end %>
    <meta itemprop="image" content="<%= full_domain_path %><%= @blog.image %>">

    <!-- Twitter Open Graph -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SAOEE">
    <meta name="twitter:title" content="<%= display_blog_name %>">
    <% if @meta_description.present? %>
    <meta name="twitter:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta name="twitter:description" content="<%= display_blog_name %>"/>
    <% end %>
    <meta name="twitter:image" content="<%= full_domain_path %><%= @blog.image %>">
<% end %>

<!-- PAGE HEADING-->
<section class="section__banner">
    <div class="banner__container container-fluid px-0">
        <div class="banner__image z-0">
            <img src="/frontend/images/b3cdf315c50cdc2ea383403ddff9f6c1.jpg" alt="">
        </div>
        <div class="banner__container container d-flex align-items-center">
            <h1 class="banner__title fw-bold text-white text-capitalize">
                <%= display_blog_name %>
            </h1>
        </div>
    </div>
    <div class="banner__nav">
        <div class="nav__container container d-flex align-items-center text-black-4 fs-6 h-100">
            <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, erp_saoee.root_path, class: 'text-secondary' %>
            <i class="fa-solid fa-angle-right"></i>
            <%= link_to t('blog'), erp_saoee.blog_path, class: 'fw-semibold text-uppercase text-secondary' %>
            <i class="fa-solid fa-angle-right"></i>
            <span class="fw-semibold text-uppercase text-red"><%= display_blog_name %></span>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- BLOG DETAIL-->
<section class="blog-detail glbg py-5">
    <div class="container blog-detail-content mb-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 text-justify">
                <%= display_blog_content.html_safe %>
            </div>
        </div>
    </div>
    <div class="py-3 blbg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="fw-bold fs-12"><%= t('.tags') %></p>
                    <ul class="tags">
                        <% @blog.get_tags.each_with_index do |tag,index| %>
                            <li><a href="#"><%= tag %></a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <%= render 'erp/saoee/frontend/blog/entry_social_share', blog_name: display_blog_name %>
            <%= render 'erp/saoee/frontend/blog/related_blog' %>
        </div>
    </div>
</section>
<!-- END BLOG DETAIL-->