<% title t('blog') %>

<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2"><%= t('.blog') %></h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to t('home'), erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= t('blog') %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- BLOG-->
<section class="p-t-20 p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <% if @blogs.count > 0 %>
                    <div class="row">
                        <% @blogs.each do |blog| %>
                            <%
                                blog_name = blog.name
                                if blog.name.present? and blog.en_name.present?
                                    if I18n.locale == :vi
                                        blog_name = blog.name
                                    elsif I18n.locale == :en
                                        blog_name = blog.en_name
                                    elsif I18n.locale == :jp
                                        blog_name = blog.jp_name
                                    end
                                end
                            %>
                            <div class="col-md-6">
                                <article class="blog">
                                    <figure class="entry-image">
                                        <% if I18n.locale == :vi %>
                                            <%= link_to image_tag(article_image(blog.image.thumb_420_236, '420_236'), alt: blog.name), blog_link(blog) %>
                                        <% elsif I18n.locale == :en %>
                                            <%= link_to image_tag(article_image(blog.en_image.thumb_420_236, '420_236'), alt: blog.en_name), blog_link(blog) %>
                                        <% elsif I18n.locale == :jp %>
                                            <%= link_to image_tag(article_image(blog.jp_image.thumb_420_236, '420_236'), alt: blog.jp_name), blog_link(blog) %>
                                        <% end %>
                                    </figure>
                                    <div class="entry-summary">
                                        <h4 class="entry-title">
                                            <%= link_to blog_name, blog_link(blog) %>
                                        </h4>
                                        <span class="entry-meta"><%= relative_time(blog.created_at) %></span>
                                        <p class="entry-excerpt">
                                            <% if I18n.locale == :vi %>
                                                <%= short_text(blog.content, 25) + '...' if blog.content.present? %>
                                            <% elsif I18n.locale == :en %>
                                                <%= short_text(blog.en_content, 25) + '...' if blog.en_content.present? %>
                                            <% elsif I18n.locale == :jp %>
                                                <%= short_text(blog.jp_content, 25) + '...' if blog.jp_content.present? %>
                                            <% end %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        <% end %>
                    </div>

                    <% if @blogs.count > 2 %>
                        <nav class="navigation blog-navigation">
                            <%= will_paginate @blogs, previous_label: '<span class="ti-arrow-left"></span>', next_label: '<span class="ti-arrow-right"></span>', renderer: BootstrapPagination::Rails, class: 'pagination-lg m-0' %>
                        </nav>
                    <% end %>
                <% else %>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> <%= t('.no_matching_records_found') %>
                    </div>
                <% end %>
            </div>

            <div class="col-md-4 col-lg-3">
                <%= render "erp/saoee/frontend/modules/blog/sidebar" %>
            </div>
        </div>
    </div>
</section>
<!-- END BLOG-->