<!--<form class="form-contact js-contact-form" method="POST" action="#">-->
<%= form_for '', url: erp_saoee.contact_us_path, html: {class: "form-contact", id: "ajax-contact-form",  autocomplete: "off"} do |f| %>
    <div class="form-row no-gutters">
        <div class="col-md-6">
            <input class="au-input" type="text" name="contact[name]" placeholder="<%= t('.placeholder_name') %>">
            <input class="au-input" type="email" name="contact[email]" placeholder="<%= t('.placeholder_email') %>" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
            <input class="au-input" type="text" name="contact[phone]" placeholder="<%= t('.placeholder_phone') %>">
        </div>
        <div class="col-md-6 p-r-0">
            <textarea class="au-textarea" name="msg[message]" placeholder="<%= t('.placeholder_message') %>"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-notice"></div>
        </div>
        <div class="col-md-3">
            <div class="text-right">
                <button class="au-btn au-btn--solid" type="submit"><%= t('.send_message') %></button>
            </div>
        </div>
    </div>
<% end %>