<% content_for :page_style do %>
    <link rel="stylesheet" href="/frontend/css/product.css" />
<% end %>

<%
    if I18n.locale == :en
        product_name = @product.en_name
        product_content = @product.en_content
        product_image = @product.en_image
    elsif I18n.locale == :ja
        product_name = @product.ja_name
        product_content = @product.ja_content
        product_image = @product.ja_image
    else
        product_name = @product.name
        product_content = @product.content
        product_image = @product.image
    end
%>

<% title product_name %>

<!-- PAGE HEADING -->
<section class="section__banner">
    <div class="banner__container container-fluid px-0">
        <div class="banner__image z-0">
            <%= (image_tag product_image.thumb_870_489, alt: product_name) if product_image.thumb_870_489.present? %>
        </div>
        <div class="banner__container container d-flex align-items-center">
            <h1 class="banner__title fw-bold text-white text-capitalize">
                <%= product_name %>
            </h1>
        </div>
    </div>
    <div class="banner__nav">
        <div class="nav__container container d-flex align-items-center text-black-4 fs-6 h-100">
            <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, erp_saoee.root_path, class: 'text-secondary' %>
            <i class="fa-solid fa-angle-right"></i>
            <%= link_to t('product'), erp_saoee.product_path, class: 'fw-semibold text-uppercase text-secondary' %>
            <i class="fa-solid fa-angle-right"></i>
            <span class="fw-semibold text-uppercase text-red"><%= product_name %></span>
        </div>
    </div>
</section>
<!-- END PAGE HEADING -->

<!-- PRODUCT DETAIL -->
<section class="section__simulation glbgv2 sub2 py-5 py-sm-5 py-md-5 py-lg-mx">
    <div class="simulation__container container py-0 py-sm-0 py-md-0 py-lg-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <%= product_content.html_safe %>
            </div>
        </div>
    </div>
</section>
<!-- END PRODUCT DETAIL -->

<!-- CONTACT LINK -->
<section class="section__contact">
    <div class="contact__container container h-100">
        <div class="contact__wrapper">
            <h2 class="contact__slogan">
                Cần tư vấn, hãy liên hệ chúng tôi.
            </h2>
            <a href="<%= erp_saoee.contact_us_path %>" class="btn-contact flex-grow-0 mt-3 mt-lg-0">Liên hệ</a>
        </div>
    </div>
</section>
<!-- END CONTACT LINK -->
