<% content_for :page_style do %>
    <link rel="stylesheet" href="/frontend/css/product.css" />
<% end %>

<% title t('product') %>

<!-- PAGE HEADING -->
<section class="section__banner">
    <div class="banner__container container-fluid px-0">
        <div class="banner__image z-0">
            <img src="/frontend/images/559232c82f593cf41c58c9ef18708702.jpg" alt="">
        </div>
        <div class="banner__container container container--primary d-flex align-items-center">
            <h1 class="banner__title fw-bold text-white text-capitalize">
                <%= t('.product') %>
            </h1>
        </div>
    </div>
    <div class="banner__nav container-fluid">
        <div class="nav__container container container--primary d-flex align-items-center text-black-4 fs-6 h-100">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span class="text-red fw-semibold text-uppercase"><%= t('.product') %></span>
        </div>
    </div>
</section>
<!-- END PAGE HEADING -->

<!-- PRODUCT -->
<section class="section__product">
    <div class="product__container container py-mx">
        <div class="product__list row flex-wrap">
            <% @products.each do |product| %>
                <%
                    if I18n.locale == :en
                        product_name = product.en_name
                        product_content = product.en_content
                    elsif I18n.locale == :ja
                        product_name = product.ja_name
                        product_content = product.ja_content
                    else
                        product_name = product.name
                        product_content = product.content
                    end
                %>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="product__card d-flex flex-column align-items-center shadow-sm">
                        <div class="position-relative mb-3">
                            <div class="card__image rounded-circle">
                                <%= image_tag product.image.thumb_960_960, class: "img-fluid rounded-circle border", alt: product.name %>
                            </div>
                            <div class="card__icon position-absolute">
                                <%#= image_tag product.image_2.thumb_80_80, class: "img-fluid", alt: "icon" %>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center">
                            <h3 class="fs-5 card__title">
                                <%= link_to product_name, product_link(product) %>
                            </h3>
                            <p class="card__desc text-center mb-0">
                                <%= short_text(product_content, 10) %>
                            </p>
                        </div>
                        <%= link_to 'chi tiết', product_link(product), class: "see-more" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END PRODUCT -->
