<% content_for :page_style do %>
    <link rel="stylesheet" href="/frontend/css/service.css" />
<% end %>

<% title t('service') %>

<!-- PAGE HEADING -->
<section class="section__banner">
    <div class="banner__container container-fluid px-0">
        <div class="banner__image z-0">
            <img src="/frontend/images/559232c82f593cf41c58c9ef18708702.jpg" alt="">
        </div>
        <div class="banner__container container container--primary d-flex align-items-center">
            <h1 class="banner__title fw-bold text-white text-capitalize">
                <%= t('.service') %>
            </h1>
        </div>
    </div>
    <div class="banner__nav container-fluid">
        <div class="nav__container container container--primary d-flex align-items-center text-black-4 fs-6 h-100">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span class="text-red fw-semibold text-uppercase"><%= t('.service') %></span>
        </div>
    </div>
</section>
<!-- END PAGE HEADING -->

<!-- SERVICE -->
<% @services.each.with_index(1) do |service, index| %>
    <%
        if I18n.locale == :en
            service_name = service.en_name
            service_content = service.en_content
        elsif I18n.locale == :ja
            service_name = service.ja_name
            service_content = service.ja_content
        else
            service_name = service.name
            service_content = service.content
        end
    %>
    <% if index.odd? %>
        <section class="section__assessment-solution--wind sub2 py-5 py-lg-mx bg-black-7 z0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 px-2">
                        <div class="d-flex flex-column gap-1">
                            <h2 class="section__title--2 mt-0 text-start px-0">
                                <%= service_name %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 px-2">
                        <p class="section__text--1">
                            <%= short_text(service_content, 60) %>...
                        </p>
                        <a href="<%= service_link(service) %>">
                            <div
                                class="call-action d-flex justify-content-center justify-content-lg-start mt-5">
                                <span>xem chi tiết</span>
                                <div
                                    class="icon-32 icon-red d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    <% else %>
        <section class="section__thermal-comfort glbgv2 py-5 py-lg-mx bg-black-7 z0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 px-2">
                        <p class="section__text--1">
                            <%= short_text(service_content, 60) %>...
                        </p>
                        <a href="<%= service_link(service) %>">
                            <div
                                class="call-action d-flex justify-content-center justify-content-lg-start mt-5">
                                <span>xem chi tiết</span>
                                <div
                                    class="icon-32 icon-red d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 px-2">
                        <div class="d-flex flex-column gap-1">
                            <h2 class="section__title--2 mt-0 text-end px-0">
                                <%= service_name %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <% end %>
<% end %>
<!-- END SERVICE -->

<!-- CONTACT LINK -->
<section class="section__contact">
    <div class="contact__container container h-100">
        <div class="contact__wrapper">
            <h2 class="contact__slogan">
                Cần tư vấn, hãy liên hệ chúng tôi.
            </h2>
            <a href="<%= erp_saoee.contact_us_path %>" class="btn-contact flex-grow-0 mt-3 mt-lg-0">Liên hệ</a>
        </div>
    </div>
</section>
<!-- END CONTACT LINK -->
