<%= form_for([erp_articles, :backend, category]) do |f| %>    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                            <%= erp_form_control('image', {
                                img_src: '',
                                name: 'category[img_icon]',
                                width: 90,
                                height: 90,
                                label: 'Icon (mặc định)'
                            }) %>
                        </div>
                        <div class="col-md-9">
                            <%= erp_form_control("dataselect", {
                                name: 'category[parent_id]',
                                value: category.parent_id,
                                text: category.parent_name,
                                placeholder: t('.placeholder_parent_category'),
                                label: t('.parent_category'),
                                url: erp_articles.dataselect_backend_categories_path(format: 'json'),
                                create: {
                                    url: erp_articles.new_backend_category_path,
                                    title: t('.create'),
                                    container_selector: '.new_category',
                                    input_selector: 'input[name="category[name]"]'
                                }
                            }) %>
                            <%= erp_form_control('select', {
                                label: t('.alias'),
                                name: 'category[alias]',
                                value: category.alias,
                                options: Erp::Articles::Category.get_alias_options()
                            }) %>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab"> <%= t('vietnames') %> </a>
                        </li>
                        <li>
                            <a href="#tab_5_2" data-toggle="tab"> <%= t('english') %> </a>
                        </li>
                        <li>
                            <a href="#tab_5_3" data-toggle="tab"> <%= t('japanese') %> </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_5_1">
                            <h5 class="profile-desc-title bold font-yellow"><%= t('vi_content') %></span></sup></h5>
                            <%= erp_form_control("text", {
                                name: 'category[name]',
                                value: category.name,                   
                                label: t('.name'),
                                placeholder: t('.placeholder_name'),
                                required: true,
                                errors: category.errors.full_messages_for(:name)
                            }) %>
                            <%= erp_form_control("textarea", {
                                name: 'category[description]',
                                value: category.description,
                                label: t('.description'),
                            }) %>
                        </div>
                
                        <div class="tab-pane" id="tab_5_2">
                            <h5 class="profile-desc-title bold font-yellow"><%= t('en_content') %></span></sup></h5>
                            <%= erp_form_control("text", {
                                name: 'category[en_name]',
                                value: category.en_name,                   
                                label: t('.name'),
                                placeholder: t('.placeholder_name'),
                                required: true,
                                errors: category.errors.full_messages_for(:en_name)
                            }) %>
                            <%= erp_form_control("textarea", {
                                name: 'category[en_description]',
                                value: category.en_description,
                                label: t('.description'),
                            }) %>
                        </div>
                
                        <div class="tab-pane" id="tab_5_3">
                            <h5 class="profile-desc-title bold font-yellow"><%= t('ja_content') %></span></sup></h5>
                            <%= erp_form_control("text", {
                                name: 'category[ja_name]',
                                value: category.ja_name,                   
                                label: t('.name'),
                                placeholder: t('.placeholder_name'),
                                required: true,
                                errors: category.errors.full_messages_for(:ja_name)
                            }) %>
                            <%= erp_form_control("textarea", {
                                name: 'category[ja_description]',
                                value: category.ja_description,
                                label: t('.description'),
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_articles.backend_categories_path
    }) %>
<% end %>