<!DOCTYPE html>
<html lang="en,vi">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hung Nguyen">
    <% if @meta_description.present? %>
	<meta name="description" content="<%= @meta_description %>">
	<% else %>
	<meta name="description" content="Công ty Cổ phần Tư vấn Thiết kế SAO">
	<% end %>
	<% if @meta_keywords.present? %>
	<meta name="keywords" content="<%= @meta_keywords %>">
	<% else %>
	<meta name="keywords" content="tu van, thiet ke, kien truc, mo hinh nang luong, he thong co dien, tư vấn, thiết kế, kiến trúc, mô hình năng lượng, hệ thống cơ điện, sao">
	<% end %>

    <!-- Title Page-->
    <title>
        <% if content_for?(:title) %>
            <%= yield(:title) %> | SAO-EE.VN
        <% else %>
            Công ty Cổ phần Tư vấn Thiết kế SAO | SAO-EE.VN
        <% end %>
    </title>
    
    <!-- Geo meta -->
    <meta name="DC.title" content="SAO DESIGN CONSULTANCY JOINT STOCK COMPANY" />
    <meta name="geo.region" content="VN-SG" />
    <meta name="geo.placename" content="68 Nguyen Hue Street, Ben Nghe Ward, Dist. 1, HCMC" />
    <meta name="geo.position" content="10.774775;106.703539" />
    <meta name="ICBM" content="10.774775, 106.703539" />
    <%= yield(:metas) %>
    <meta property="og:image:width" content="1000" />
	<meta property="og:image:height" content="660" />
    <meta property="fb:app_id" content="2213517668921463"/>
    
    <%= render "erp/saoee/frontend/modules/stylesheet" %>
    
    <%= render "erp/saoee/frontend/modules/favicons_link" %>
</head>

<body class="animsition js-preloader">
    <div class="page-wrapper">
        
        <%= render "erp/saoee/frontend/modules/header" %>

        <!-- MAIN-->
        <main id="main">
            
            <%= yield %>
            
            <% @company_info = Erp::Contacts::Contact.get_main_contact %>
            <div id="callme">
                <div id="callmeMain">
                    <a href="tel:<%= @company_info.hotline %>" title="<%= @company_info.hotline %>"></a>
                    <span><%= @company_info.hotline %></span>
                </div>
            </div>
            
        </main>
        <!-- END MAIN-->
        
        <%= render "erp/saoee/frontend/modules/footer" %>
    </div>
    
    <%= render "erp/saoee/frontend/modules/javascripts" %>

</body>

<script>
    'undefined' === typeof _trfq || (window._trfq = []);
    'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
        'tccl.baseHost': 'secureserver.net'
    }), _trfd.push({
        'ap': 'cpsh'
    }, {
        'server': 'a2plcpnl0422'
    }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>
<!-- end document-->