<!-- FOOTER-->
<footer class="footer bg-parallax">
    <div class="bg-overlay bg-overlay--p85"></div>
    <div class="container p-t-60 p-b-40">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <div class="widget m-b-10">
                        <a class="logo" href="#">
                            <img src="/frontend/images/icon/logo-white.png" alt="SAO-EE.VN" />
                        </a>
                    </div>
                    <% @company_info = Erp::Contacts::Contact.get_main_contact %>
                    <% if !@company_info.nil? %>
                        <div class="widget widget-address">
                            <ul>
                                <li class="text-uppercase"><strong><%= @company_info.contact_name %></strong></li>
                                <li>Địa chỉ: <%= display_contact_address(@company_info) %></li>
                                <li>Điện thoại: <%= link_to @company_info.phone, "tel:#{@company_info.phone}" %></li>
                                <li>Email: <%= mail_to @company_info.email, @company_info.email %></li>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title"><%= t('.service') %></h4>
                        <ul>
                            <%
                                @service_menus = Erp::Articles::Category.get_categories_by_alias_service
                                    .where(parent_id: nil)
                                    .order('erp_articles_categories.custom_order ASC')
                            %>
                            <% @service_menus.each do |menu| %>
                                <li>
                                    <% if I18n.locale == :vi %>
                                        <%= link_to menu.name, service_link(menu) %>
                                    <% else %>
                                        <%= link_to menu.en_name, service_link(menu) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title"><%= t('.link') %></h4>
                        <ul>
                            <li>
                                <a href="<%= erp_saoee.about_us_path %>"><%= t('.about_us') %></a>
                            </li>
                            <li>
                                <a href="<%= erp_saoee.project_path %>"><%= t('.project') %></a>
                            </li>
                            <li>
                                <a href="<%= erp_saoee.blog_path %>"><%= t('.blog') %></a>
                            </li>
                            <li>
                                <a href="#"><%= t('.recruiting') %></a>
                            </li>
                            <li>
                                <a href="<%= erp_saoee.contact_us_path %>"><%= t('.contact_us') %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <h4 class="widget-title"><%= t('.socials') %></h4>
                    <div class="widget widget_socials">
                        <ul class="list-social list-social-2">
                            <li class="list-social__item">
                                <a class="ic-fb" href="#">
                                    <i class="zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-insta" href="#">
                                    <i class="zmdi zmdi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-twi" href="#">
                                    <i class="zmdi zmdi-twitter"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-pinterest" href="#">
                                    <i class="zmdi zmdi-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-google" href="#">
                                    <i class="zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container p-t-10 p-b-10">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-12 text-gray m-0 text-center">
                        Copyright &copy; 2018 <span class="text-color">SAO-EE.VN</span>. All Rights Reserved. <br/>
                        Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER-->