<% title @project.name %>

<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2"><%= t('.project') %></h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to t('home'), erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= link_to t('project'), erp_saoee.service_path %> <i class="ti-angle-double-right"></i>
                <%= @project.name %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- PROJECT DETAIL-->
<div class="container p-b-30">
    <h2 class="title-1 p-t-20"><%= @project.name %></h2>
    <article class="project-style-4 p-t-10">
        <div class="row m-t-20 m-b-20">
            <div class="col-lg-5">
                <div class="entry-meta">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.client_name') %>:</h4>
                                <span class="value">N/A</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.location') %>:</h4>
                                <span class="value"><%= @project.location %></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.area') %>:</h4>
                                <span class="value"><%= @project.area.present? ? "#{@project.area}m<sup>2</sup>".html_safe : "N/A" %></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.start_date') %>:</h4>
                                <span class="value"><%= @project.start_date.present? ? @project.start_date.strftime('%d/%m/%Y') : "N/A" %></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.completion_date') %>:</h4>
                                <span class="value"><%= @project.completion_date.present? ? @project.completion_date.strftime('%d/%m/%Y') : "N/A" %></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.status') %>:</h4>
                                <span class="value">Hoàn thành</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="entry-content">
                    <%= @project.description.html_safe %>
                </div>
                <div class="entry-share">
                    <span class="key"><%= t('share') %>:</span>
                    <ul class="list-social list-social--md">
                        <li class="list-social__item">
                            <a class="ic-fb" href="#">
                                <i class="zmdi zmdi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-social__item">
                            <a class="ic-insta" href="#">
                                <i class="zmdi zmdi-instagram"></i>
                            </a>
                        </li>
                        <li class="list-social__item">
                            <a class="ic-twi" href="#">
                                <i class="zmdi zmdi-twitter"></i>
                            </a>
                        </li>
                        <li class="list-social__item">
                            <a class="ic-pinterest" href="#">
                                <i class="zmdi zmdi-pinterest"></i>
                            </a>
                        </li>
                        <li class="list-social__item">
                            <a class="ic-google" href="#">
                                <i class="zmdi zmdi-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% if !@project.project_images.empty? %>
            <div class="masonry-row js-isotope-wrapper">
                <div class="row isotope-content">
                    <% @project.project_images.each do |project_image| %>
                        <div class="col-md-6 col-lg-4 isotope-item isotope-item-sizer">                            
                            <a href="<%= project_image.image_url %>" data-fancybox="images" data-caption="<%= project_image.name %>">
                                <%= image_tag(project_image.image_url.thumb_640_467, alt: project_image.name, class: 'wp-post-image') %>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </article>
</div>
<!-- END PROJECT DETAIL-->

<!-- LASTEST PROJECT-->
<section class="wrap wrap--w1790 p-b-75">
    <div class="container">
        <div class="section-title m-b-30">
            <h5 class="title-sub"><%= t('.latest_project_title_sub') %></h5>
            <h2 class="title-1"><%= t('.latest_project_title') %></h2>
        </div>
        <% if @newest_projects.count > 4 %>
            <div class="container-fluid">
                <div class="slick-wrap slick-project js-slick-wrapper" data-slick-xs="1" data-slick-sm="1" data-slick-md="3" data-slick-lg="4" data-slick-xl="4" data-slick-dots="false" data-slick-customnav="true" data-slick-autoplay="true">
                    <div class="slick-wrap-content">
                        <div class="slick-content js-slick-content">
                            <% @newest_projects.each do |project| %>
                                <div class="slick-item">
                                    <article class="media media-project">
                                        <figure class="media__img">
                                            <%= image_tag project.image.thumb_960_600, alt: project.name %>
                                        </figure>
                                        <div class="bg-overlay"></div>
                                        <span class="line"></span>
                                        <span class="line line--bottom"></span>
                                        <div class="media__body">
                                            <h3 class="title">
                                                <%= link_to project.name, project_link(project) %>
                                            </h3>
                                            <div class="address"><%= project.location %></div>
                                        </div>
                                    </article>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="slick__nav arrows-1">
                        <i class="slick-prev slick-arrow js-slick-prev ti-angle-left"></i>
                        <i class="slick-next slick-arrow js-slick-next ti-angle-right"></i>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="container">
                <div class="row gutter-xl">
                    <% @newest_projects.each do |project| %>
                        <div class="col-md-3">
                            <article class="media media-project m-b-50">
                                <figure class="media__img">
                                    <%= image_tag project.image.thumb_960_600, alt: project.name %> <!-- image_natural_size: 960x600px -->
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <%= link_to project.name, project_link(project) %>
                                    </h3>
                                    <div class="address"><%= project.location %></div>
                                </div>
                            </article>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</section>
<!-- END LASTEST PROJECT-->