<%
    project_name = @project.name
    if @project.name.present? and @project.en_name.present? and @project.ja_name.present?
        if I18n.locale == :vi
            project_name = @project.name
        elsif I18n.locale == :en
            project_name = @project.en_name
        elsif I18n.locale == :ja
            project_name = @project.ja_name
        end
    end
%>
<%
    project_location = @project.location
    if @project.location.present? and @project.en_location.present? and @project.ja_location.present?
        if I18n.locale == :vi
            project_location = @project.location
        elsif I18n.locale == :en
            project_location = @project.en_location
        elsif I18n.locale == :ja
            project_location = @project.ja_location
        end
    end
%>

<% title project_name %>
<% full_domain_path = request.env['rack.url_scheme'] + '://' + request.host_with_port %>

<% content_for :metas do %>
    
    <!-- Facebook Open Graph -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="object" />
    <meta property="og:title" content="<%= project_name %>"/>
    <% if @meta_description.present? %>
    <meta property="og:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta property="og:description" content="<%= project_name %>"/>
    <% end %>
    <meta property="og:site_name" content="SAO-EE.VN">
    <meta property="og:image" content="<%= full_domain_path %><%= @project.image %>" />
    <meta property="og:locale" content="<%= (I18n.locale == :vi) ? 'vi_VN' : 'en_US' %>">
    
    <!-- Google+ Open Graph -->
    <meta itemprop="name" content="<%= project_name %>">
    <% if @meta_description.present? %>
    <meta itemprop="description" content="<%= @meta_description %>">
    <% else %>
    <meta itemprop="description" content="<%= project_name %>">
    <% end %>
    <meta itemprop="image" content="<%= full_domain_path %><%= @project.image %>">
    
    <!-- Twitter Open Graph -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SAOEE">
    <meta name="twitter:title" content="<%= project_name %>">
    <% if @meta_description.present? %>
    <meta name="twitter:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta name="twitter:description" content="<%= project_name %>"/>
    <% end %>
    <meta name="twitter:image" content="<%= full_domain_path %><%= @project.image %>">
<% end %>

<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2"><%= t('.project') %></h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to t('home'), erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= link_to t('project'), erp_saoee.service_path %> <i class="ti-angle-double-right"></i>
                <%= project_name %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- PROJECT DETAIL-->
<div class="container p-b-30">
    <h2 class="title-1 p-t-20"><%= project_name %></h2>
    <article class="project-style-4 p-t-10">
        <div class="row m-t-20 m-b-20">
            <div class="col-lg-5">
                <div class="entry-meta">
                    <div class="row">
                        <% if false %>
                            <div class="col-sm-4">
                                <div class="entry-meta__item">
                                    <h4 class="key"><%= t('.client_name') %>:</h4>
                                    <span class="value">N/A</span>
                                </div>
                            </div>
                        <% end %>
                        <div class="col-sm-6">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.location') %>:</h4>
                                <span class="value"><%= project_location %></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.area') %>:</h4>
                                <span class="value"><%= @project.area.present? ? "#{@project.area}m<sup>2</sup>".html_safe : "N/A" %></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.start_date') %>:</h4>
                                <span class="value"><%= @project.start_date.present? ? @project.start_date.strftime('%d/%m/%Y') : "N/A" %></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="entry-meta__item">
                                <h4 class="key"><%= t('.completion_date') %>:</h4>
                                <span class="value"><%= @project.completion_date.present? ? @project.completion_date.strftime('%d/%m/%Y') : "N/A" %></span>
                            </div>
                        </div>
                        <% if false %>
                            <div class="col-sm-4">
                                <div class="entry-meta__item">
                                    <h4 class="key"><%= t('.status') %>:</h4>
                                    <span class="value">Hoàn thành</span>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="entry-content">
                    <%
                        project_description = @project.description
                        if @project.description.present? and @project.en_description.present? and @project.ja_description.present?
                            if I18n.locale == :vi
                                project_description = @project.description
                            elsif I18n.locale == :en
                                project_description = @project.en_description
                            elsif I18n.locale == :ja
                                project_description = @project.ja_description
                            end
                        end
                    %>
                    <%= project_description.html_safe %>
                </div>
                <div class="entry-share">
                    <span class="key"><%= t('share') %>:</span>
                    
                    <div id="share-buttons" class="list-social list-social--md">
                     
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=<%= request.url %>" target="_blank">
                            <img src="/frontend/images/icon/socials/facebook.png" alt="Facebook" title="Share a link to this page on Facebook" />
                        </a>
                         
                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url=<%= request.url %>&amp;text=<%= project_name %>&amp;hashtags=sao_ee" target="_blank">
                            <img src="/frontend/images/icon/socials/twitter.png" alt="Twitter" title="Share a link to this page on Twitter" />
                        </a>
                        
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=<%= request.url %>" target="_blank">
                            <img src="/frontend/images/icon/socials/google.png" alt="Google" title="Share a link to this page on Google Plus" />
                        </a>
                        
                        <!-- LinkedIn -->
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.url %>" target="_blank">
                            <img src="/frontend/images/icon/socials/linkedin.png" alt="LinkedIn" title="Share a link to this page on LinkedIn" />
                        </a>
                        
                        <!-- Email -->
                        <a href="mailto:?Subject=<%= project_name %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 <%= request.url %>">
                            <img src="/frontend/images/icon/socials/email.png" alt="Email" title="Share a link to this page on Email" />
                        </a>
                    
                    </div>
                </div>
            </div>
        </div>
        <% if !@project.project_images.empty? %>
            <div class="masonry-row js-isotope-wrapper">
                <div class="row isotope-content">
                    <% @project.project_images.each do |project_image| %>
                        <%
                            project_image_name = project_image.name
                            if project_image.name.present? and project_image.en_name.present? and project_image.ja_name.present?
                                if I18n.locale == :vi
                                    project_image_name = project_image.name
                                elsif I18n.locale == :en
                                    project_image_name = project_image.en_name
                                elsif I18n.locale == :ja
                                    project_image_name = project_image.ja_name
                                end
                            end
                        %>
                        <div class="col-md-6 col-lg-4 isotope-item isotope-item-sizer">                            
                            <a href="<%= project_image.image_url %>" data-fancybox="images" data-caption="<%= project_image_name %>">
                                <%= image_tag(project_image.image_url.thumb_640_467, alt: project_image_name, class: 'wp-post-image') %>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </article>
</div>
<!-- END PROJECT DETAIL-->

<!-- LASTEST PROJECT-->
<section class="wrap wrap--w1790 p-b-75">
    <div class="container">
        <div class="section-title m-b-30">
            <h5 class="title-sub"><%= t('.latest_project_title_sub') %></h5>
            <h2 class="title-1"><%= t('.latest_project_title') %></h2>
        </div>
        <% if @newest_projects.count > 4 %>
            <div class="container-fluid">
                <div class="slick-wrap slick-project js-slick-wrapper" data-slick-xs="1" data-slick-sm="1" data-slick-md="3" data-slick-lg="4" data-slick-xl="4" data-slick-dots="false" data-slick-customnav="true" data-slick-autoplay="true">
                    <div class="slick-wrap-content">
                        <div class="slick-content js-slick-content">
                            <% @newest_projects.each do |project| %>
                                <%
                                    project_name = project.name
                                    if project.name.present? and project.en_name.present? and project.ja_name.present?
                                        if I18n.locale == :vi
                                            project_name = project.name
                                        elsif I18n.locale == :en
                                            project_name = project.en_name
                                        elsif I18n.locale == :ja
                                            project_name = project.ja_name
                                        end
                                    end
                                %>
                                <%
                                    project_location = project.location
                                    if project.location.present? and project.en_location.present? and project.ja_location.present?
                                        if I18n.locale == :vi
                                            project_location = project.location
                                        elsif I18n.locale == :en
                                            project_location = project.en_location
                                        elsif I18n.locale == :ja
                                            project_location = project.ja_location
                                        end
                                    end
                                %>
                                <div class="slick-item">
                                    <article class="media media-project">
                                        <figure class="media__img">
                                            <%= image_tag project.image.thumb_960_600, alt: project_name %>
                                        </figure>
                                        <div class="bg-overlay"></div>
                                        <span class="line"></span>
                                        <span class="line line--bottom"></span>
                                        <div class="media__body">
                                            <h3 class="title">
                                                <%= link_to project_name, project_link(project) %>
                                            </h3>
                                            <div class="address"><%= project_location %></div>
                                        </div>
                                    </article>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="slick__nav arrows-1">
                        <i class="slick-prev slick-arrow js-slick-prev ti-angle-left"></i>
                        <i class="slick-next slick-arrow js-slick-next ti-angle-right"></i>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="container">
                <div class="row gutter-xl">
                    <% @newest_projects.each do |project| %>
                        <%
                            project_name = project.name
                            if project.name.present? and project.en_name.present? and project.ja_name.present?
                                if I18n.locale == :vi
                                    project_name = project.name
                                elsif I18n.locale == :en
                                    project_name = project.en_name
                                elsif I18n.locale == :ja
                                    project_name = project.ja_name
                                end
                            end
                        %>
                        <div class="col-md-3">
                            <article class="media media-project m-b-50">
                                <figure class="media__img">
                                    <%= image_tag project.image.thumb_960_600, alt: project_name %> <!-- image_natural_size: 960x600px -->
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <%= link_to project_name, project_link(project) %>
                                    </h3>
                                    <div class="address"><%= project_location %></div>
                                </div>
                            </article>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</section>
<!-- END LASTEST PROJECT-->