<% title t('project') %>

<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2"><%= t('.project') %></h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to t('home'), erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= t('project') %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- PROJECT-->
<section class="p-t-60 p-b-55">
    <div class="container">
        <div class="section-title">
            <h5 class="title-sub"><%= t('.our_work') %></h5>
            <h2 class="title-1"><%= t('.our_projects') %></h2>
        </div>
        <div class="row gutter-xl">
            <% @projects.each do |project| %>
                <div class="col-md-4">
                    <article class="media media-project m-b-50">
                        <figure class="media__img">
                            <%= image_tag project.image.thumb_960_600, alt: project.name %> <!-- image_natural_size: 960x600px -->
                        </figure>
                        <div class="bg-overlay"></div>
                        <span class="line"></span>
                        <span class="line line--bottom"></span>
                        <div class="media__body">
                            <h3 class="title">
                                <%= link_to project.name, project_link(project) %>
                            </h3>
                            <div class="address"><%= project.location %></div>
                        </div>
                    </article>
                </div>
            <% end %>
        </div>
        <% if false %>
            <div class="text-center p-t-10">
                <a class="au-btn au-btn--c6 au-btn-lg" href="#">Bấm để xem thêm danh sách</a>
            </div>
        <% end %>
    </div>
</section>
<!-- END PROJECT-->