<% content_for :page_style do %>
    <link rel="stylesheet" href="/frontend/css/project.css" />
<% end %>

<% title t('project') %>

<!-- PAGE HEADING-->
<section class="section__banner">
    <div class="banner__container container-fluid px-0">
        <div class="banner__image z-0">
            <img src="/frontend/images/b3cdf315c50cdc2ea383403ddff9f6c1.jpg" alt="">
        </div>
        <div class="banner__container container d-flex align-items-center">
            <h1 class="banner__title fw-bold text-white text-capitalize">
                <%= t('.our_projects') %>
            </h1>
        </div>
    </div>
    <div class="banner__nav">
        <div class="nav__container container d-flex align-items-center text-black-4 fs-6 h-100">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span class="fw-semibold text-uppercase text-red"><%= t('.project') %></span>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- PROJECT-->
<section class="glbg sub1 py-0 py-sm-0 py-md-0 py-lg-mx">
    <div class="container py-4 py-lg-5">
        <div class="row">
            <% @projects.each do |project| %>
                <%
                    if I18n.locale == :en
                        project_name = project.en_name
                        project_location = project.en_location
                    elsif I18n.locale == :ja
                        project_name = project.ja_name
                        project_location = project.ja_location
                    else
                        project_name = project.name
                        project_location = project.location
                    end
                %>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <a href="<%= project_link(project) %>">
                        <div class="pbox">
                            <div class="pimg">
                                <%= image_tag project.image.thumb_960_600, alt: project_name %> <!-- image_natural_size: 960x600px -->
                            </div>
                            <div class="ptitle">
                                <h5><%= project_name %></h5>
                                <p><%= project_location %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% end %>
        </div>
        <% if @projects.count > 2 %>
            <nav class="d-flex justify-content-center float-none float-sm-none float-md-none float-lg-end">
                <%= will_paginate @projects, previous_label: '<span aria-hidden="true"><i class="fa-solid fa-arrow-left fa-fw"></i></span>', next_label: '<span aria-hidden="true"><i class="fa-solid fa-arrow-right fa-fw"></i></span>', renderer: BootstrapPagination::Rails, class: 'pagination', link_options: { class: "page-link" } %>
            </nav>
        <% end %>
    </div>
</section>
<!-- END PROJECT-->